@import url('../mode.css');


#editProfileModalContent {
    width: 100vw !important;
    height: 100vh !important;
    background-color: var(--comments-background-color);
    position: fixed;
    box-shadow: 10px 10px 5px #cfd1d0;
    display: flex;
    justify-content: center;
    align-items: center;


}

#saveButton {
    background-color: #1877f2;
    color: #eff1f4;
    width: 30%;
    /* height: 14%; */
    border-radius: 10px;
}
#saveButton:hover {
    background-color: #1265d1;
    
}

#editModalPattern {

    overflow-x: hidden;
    width: 50%;
    height: 400px;
    background-color: var(--topbar-posts-background-color);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 10px;
    margin-top: 90px;
    padding: 20px 20px 24px;
    align-items: center;
    gap: 20px;

}
#closeButtonEdit{
    width: 40px;
    height: 40px;
}
#topEditPattern{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#postImageEdit {
    width: 25%;

}

.inputTextEdit {
    width: 50%;
    height: 50px;
    padding: 4px 10px;
    /* margin: 5px 5px; */
    border-radius: 10px;
    font-size: 20px;
    border-width: 0.1px;
    border-radius: 10px;
    border-color: #ededeb;
    /* outline: none; */
    background-color: var(--comments-background-color);
    color: var(--text-color);
}

#inputFileEdit{
    width: 50%;
    height: 50px;
    padding: 4px 10px;
    /* margin: 5px 5px; */
    border-radius: 10px;
    font-size: 20px;
    border-width: 0.1px;
    border-radius: 10px;
    border-color: #ededeb;
    /* outline: none; */
    background-color: var(--comments-background-color);
    color: var(--text-color);
    /* font-size: 16px;
    color: var(--text-color);
    justify-content: center; */
    
    /* height: 200px;
    width: 100%; */
}
.menuTextInPage {
    color: var(--text-color)
}

