.card-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
}

.row-height {
    height: 75px;
}

.btn-login-box {
    margin-top: 20px;
    height: 50px;
    font-size: larger;
}

.btn-signin {
    background-color: #42b62a;
    color: #eff1f4;

    width: fit-content;
}

.btn-signin:hover {
    background-color: #36a320;
    color: white;
}

.m-t-15px {
    margin-top: 15px;
    margin-bottom: 0px;
}

.m-b-15px {
    margin-bottom: 15px !important;
}

.card {
    padding: initial;
}

.input-lg {
    height: 50px;
}

a {
    text-decoration: none;
}

.LF-DM {
    background-color: #313331;
}

.color-mode-btn {
    background-color: transparent;
    width: 50px;
    border: 0;
}

