@import url('../mode.css');

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--feed-background-color);
    gap: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contentPage {
    display: flex;
    flex-direction: row;
}