@import url('../../mode.css');

#content {
    width: 100%;
    background-color: var(--topbar-posts-background-color);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    box-shadow: 10px 10px 5px #b3b5b4;
    justify-content: space-between;

}

#logo {
    width: 70px;
    height: 70px;
}

#inputLine {
    border: 1px solid #ccc;
    background-color: var(--search-bar-background-color);
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    height: 30px;
    width: fit-content;
}

#logOutBtn{
    background-color: #1265d1;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    
}

#logoAndSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#logOutBtn:hover{
    background-color: #377bd3;
    cursor: pointer;
    
}

.themeMode {
    width: 90px !important;
    height: 90px !important;
    padding: 20px;
}

.themeMode:hover {
    cursor: pointer;
}